.newPost {
    display: flex;
    flex-wrap: wrap;
    margin: 18px 4px;
    justify-content: flex-start;
}

.newPost li {
    list-style: none;
    margin: 2px;
    background-color: #f5f5f5;
    padding: 0px 4px;
    font-size: 12px;
    height: 20px;
    align-items: center;
    display: flex;
    border-radius: 2px;
    width: max-content;
}

.geoTag, .basicTag, .priceTag, .optionalTag, .requiredTag, .areaTag {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 6px 8px;
}

.geoTag div, .basicTag div, .priceTag div, .optionalTag div, .requiredTag div, .areaTag div {
    display: flex;
    background-color: #f5f5f5;
    padding: 2px 4px;
    border-radius: 2px;
    margin: 4px;
    font-size: 12px;
}

h2 {
    font-size: 12px;
    flex-basis: 100%;
    margin: 2px 0px 4px 6px;
}

.newPostSuccess {
    display: flex;
    flex-wrap: wrap;
}

.newPostSuccess h2 {
    padding-top: 18px;
    text-align: center;
    margin: 0;
}

.newPost h2 {
    padding-top: 18px;
    text-align: left;
    margin: 0;
}

.newPost input[type=submit]:last-of-type, .newPostSuccess button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 120px
}

form {
    display: flex;
    flex-wrap: wrap;
}