.profile-nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    padding-top: 18px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2px;
}

.profile-nav li {
    list-style: none;
    align-items: center;
    display: flex;
    flex-basis: 33%;
    justify-content: center;
    height: 24px;
}

.profile-nav .username {
    flex-basis: 30%;
    text-align: left;
    margin: 0px 0px 2px 6px;
}

.profile-nav .active {
    color: deepskyblue
}

.profile-post-images {
    display: flex;
    overflow-x: scroll;
    height: 180px;
}

.profile-post-images img {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
    outline: 1px solid white;
}

.profile-posts .post:first-of-type {
    margin-top: 96px;
}

.profile-nav li:first-of-type {
    flex-basis: 40%;
}